/node_modules
/tmp
api/logapi
.env
/.vscode
config.json
config_test.json
mochawesome-report
public/files/proposal/*
!/public/files/proposal/proposal_help.txt
api/model/models/*.js
!/api/model/models/index.js
config_test.json
public/files/panduan/*
!/public/files/panduan/index.txt
public/files/berita/*
!/public/files/berita/index.txt
public/files/images/profile/*
!/public/files/images/profile/index.txt